.drop-down-menu {
  z-index: 1000;
  position: absolute;
  width: 170px;
  height: 70px;
  background: #fff;
  right: 0;
  top: 55px;
  display: none;

  .menu_item {
    padding: 8px 15px;

    &:hover {
      cursor: pointer;
    }
  }

  .exit {
    color: #e43f52;
  }
}

.open {
  display: block;
}